<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongzhe.demo.mappers.UserMapper">
	<!-- <resultMap id="UserMapper" -->
	<!-- type="com.rongzhe.demo.dao.UserDao"> -->
	<!-- </resultMap> -->

	<select id="getAll" resultType="com.rongzhe.demo.entitiy.User">
		SELECT * FROM sys_user
	</select>
	<select id="getOneByAccount" resultType="com.rongzhe.demo.entitiy.User">
		SELECT * FROM sys_user WHERE account = #{account}
	</select>
	<select id="getUserReportData" resultType="com.rongzhe.demo.dto.UserReportDTO">
		select
			su.account,
			sud.display_name,
			sud.first_name,
			sud.last_name,
			string_agg(sue.email, ',') as emails
		from
			sys_user su
		left join sys_user_detail sud on
			su.user_detail_id = sud.id
		left join sys_user_email sue on
			sue.user_id = su.id
		group by
			account,
			display_name,
			first_name,
			last_name
		order by
			account	
	</select>
</mapper>